doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title Prototype Seed
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='description' content='')

    // Place favicon.ico and apple-touch-icons in the public folder

    link(rel='stylesheet' href='assets/styles/main.css')
    script(src='assets/scripts/vendor.js')

  body
    block content

    block scripts
      script(src='assets/scripts/main.js')
