doctype html
html.no-js(ng-app="app")
  head
    meta(charset='utf-8')
    title Prototype Seed
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable = no')
    script(src='assets/scripts/vendor.js')
    link(rel='stylesheet', href='assets/styles/main.css')


  body

    block content

    block scripts
      